<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
</head>

<body>

<div class="container" style="font-size: 16px;">
    {%include 'navbar.html'%}
    <p style="font-size: 36px;">Applications</p>
  <form action="/profile1/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="name" class="form-control"  placeholder="Enter the name" name="name" value="{{std.name}}">
      </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control"  placeholder="Enter email" name="email" value="{{std.email}}">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password" name="pwd" value="{{std.pwd}}">
    </div>
    <div class="form-group">
        <label for="addr">Address:</label>
        <input type="addr" class="form-control"  name="addr" value="{{std.addr}}">
      </div>
    <button type="submit" class="btn btn-success" style="font-size: 15px;">Submit</button>
    <button type="submit" class="btn btn-danger" style="font-size: 15px;">Cancel</button>
  </form>
</div>

</body>
</html>
