<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  {% include 'navbar.html'%}
      
  <table class="table table-hover">
    <thead>
      <tr class="text-danger" style="font-size: 16px;">
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      {% csrf_token %}
      {% for e in emp %}
      <tr style="font-size: 13px;">
        
        <td>{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.email}}</td>
        <td>{{e.pwd}}</td>
        <td>{{e.addr}}</td>
        <td><a href="/update/{{e.id}}" class="btn btn-info">Update</a></td>
        <td><a href="/delemp/{{e.id}}" class="btn btn-danger">Delete</a></td>
        <td><a href="/profile1/{{e.id}}" class="btn btn-success">Profile</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>